// Add coding style guide
{
    // ưu tiên rules của Airbnb hơn
    "extends": ["eslint-config-airbnb-base", "prettier"],
  
    "plugins": ["prettier"],
  
    "env": {
        "browser": true
    },
  
    "rules": {
        "prettier/prettier": "error"
    },
  
    "parser": "babel-eslint",
  
    "settings": {
        // những gì import vào trong JS files bắt buộc phải tồn tại và handle bởi Webpack
        "import/resolver": {
            "webpack": {
                "config": {
                    "resolve": {
                        "modules": ["frontend", "node_modules"]
                    }
                }
            }
        }
    }
}